.expense-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #000000;
   font-size: 1.1rem;
   margin: 1rem auto;
   &__description {
      margin-left: 2rem;
      flex: 1;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;
      h2 {
         color: white;
         margin: 0;
      }

   }
   &__price {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      font-weight: bold;
      border-radius: 1rem;
      border: .2rem solid white;
      color: white;
      background-color: #40005d;
   }
}